<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info"><h1>Добавьте сотрудника или руководителя отдела</h1></div>
    <label>Имя</label>
    <input type="text" class="form-control" #workerNameInput>
    <label>Отдел</label>
    <input type="text" class="form-control" #workerRoleInput>
    <br>
    <button class="btn btn-primary btn-lg" (click) = "onAddWorker(workerNameInput)">Добавить сотрудника</button>
    <button class="btn btn-primary btn-lg" (click) = "onAddHeadWorker(workerNameInput)">Добавить руководителя</button>
  </div>
</div>
